$font-family_1: 'Arvo', serif;
$font-family_2: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$background-color_1: rgb(233, 246, 243);

@import "https://fonts.googleapis.com/css2?family=Arvo&display=swap";
body {
	background-color: $background-color_1;
	font-family: $font-family_1;
	margin: 0px;
}
code {
	font-family: $font-family_2;
}
